<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>
        <%= packageTitle %>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
</head>

<body>
    <div class="container">
        <h1>
            <%= packageTitle %>
        </h1>
        <hr />
        <h2>Documentation for package &lsquo;<%= packageName %> &rsquo; version <%= packageVersion %>
        </h2>

        <ul>
            <li><a href="../DESCRIPTION">DESCRIPTION file</a>.</li>
        </ul>

        <h2>Help Pages</h2>

        <table width="100%">
            <% topics.forEach((topic)=> { %>
                <tr>
                    <td style="width: 25%;"><a href="<%= topic.href %>"><%= topic.name %></a></td>
                    <td><%= topic.title %></td>
                </tr>
            <% }) %>
        </table>
    </div>
</body>

</html>