<!DOCTYPE html>
<html>

<head>
    <link href="<%= asWebViewPath('style.css') %> " rel="stylesheet">
    <% if(overwriteStyles){ %>
        <link href="<%= asWebViewPath('styleOverwrites.css') %> " rel="stylesheet">
    <% } %>
</head>

<body>
    <div id="container">
        <div id="svgDiv" plotId=<%- largePlot?.id || '' %>>
            <%- largePlot?.svg %>
        </div>
        <div id="handler"> </div>
        <div id="smallPlots">
            <% plots.forEach((plot)=> { %>
                <a href="<%- makeCommandUri('r.httpgd.showIndex', plot.id) %> " title="Plot <%- plot.id %>">
                    <div class="plotDiv" isActivePlot=<%- plot.id===activePlot %>>
                        <%- plot.svg %>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</body>
<script src="<%= asWebViewPath('index.js') %>"></script>

</html>
