<!DOCTYPE html>
<html>
    <head>
        <link href="<%= asWebViewPath('style.css') %> " rel="stylesheet">
    </head>
    <body>
        <div id="svgDiv">
            <%- svg %> 
        </div>
        <% plots.forEach((plot, index) => { %>
        <a href="command:r.httpgd.showIndex?%5B<%- index %>%5D" title="Plot <%- index %>">
            <div id="plotDiv" activePlot=<%- index===activeIndex %>>
                <%- plot %> 
            </div>
        </a>
        <% }) %>
    </body>
    <script src="<%= asWebViewPath('index.js') %>"></script>
</html>
