<!DOCTYPE html>
<html>
    <head>
        <link href="<%= asWebViewPath('style.css') %> " rel="stylesheet">
    </head>
    <body>
        <div id="svgDiv">
            <%- svg %> 
        </div>
        <% plots.forEach((plot, index) => { %>
        <a href="command:r.httpgd.showIndex?%5B<%- index %>%5D">
            <div id="plotDiv" <%- index===activeIndex ? 'activePlot=true' : '' %> >
                <%- plot %> 
            </div>
        </a>
        <% }) %>
    </body>
</html>
